<a href="https://colab.research.google.com/github/AWO112233/Data-Merging-for-3300-data/blob/main/Maywoods_Merge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

**Merging Team+Service+BusinessDeliveryUnit = Team_merge**

In [2]:
#Load Data
team_df = pd.read_csv('Team.csv')
Service_df = pd.read_csv('Service.csv')
BDU_df = pd.read_csv('BusinessDeliveryUnit.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'Team.csv'

In [ ]:
#Service and BDU merge
buser = Service_df.merge(BDU_df, how="left", left_on="Service_BusinessDeliveryUnitId", right_on="BusinessDeliveryUnit_Id")

In [ ]:
#Final Team Merge using Team+buser
Team_merge = team_df.merge(buser, how="left", left_on="Team_ServiceId", right_on="Service_Id")

In [ ]:
#Team Merge data save
Team_merge.to_csv('Team_merge.csv', index=False)

**Merging PersonBooking+Person+PersonBookingType = Person_merge**

In [ ]:
#Load data
PerB_df = pd.read_csv('PersonBooking.csv')
Per_df = pd.read_csv('Person.csv')
PerBType_df = pd.read_csv('PersonBookingType.csv')

In [ ]:
#PersoonBooing and Person Merge
per1 = PerB_df.merge(Per_df, how="left", left_on="PersonBooking_PersonId", right_on="Person_Id")

In [ ]:
#Final Merge using per1 and PerBType
Person_merge = per1.merge(PerBType_df, how="left", left_on="PersonBooking_PersonBookingTypeId", right_on="PersonBookingType_Id")

In [ ]:
#Person Merge data save
#Person_merge.to_csv('Person_merge.csv', index=False)

**Merging BookingOccasion+CancellationReason+BookingOccasionState = BookingOcc_merge**

In [ ]:
#Load Data
BookOcc = pd.read_csv('BookingOccasion.csv')
CanReas = pd.read_csv('CancellationReason.csv')
BookOccState = pd.read_csv('BookingOccasionState.csv')

In [ ]:
#BookOcc + CanReas
book1 = BookOcc.merge(CanReas, how="left", left_on="BookingOccasion_CancellationReasonId", right_on="CancellationReason_Id")

In [ ]:
#Final Merge using book1 and BookOccState
BookingOcc_merge = book1.merge(BookOccState, how="left", left_on="BookingOccasion_BookingOccasionStateId", right_on="BookingOccasionState_Id")

In [ ]:
# Booking Occ Result Data Save
#BookingOcc_merge.to_csv('BookingOcc_merge.csv', index=False)

**Area+Buiding+District+BuildingOpeningHours Merge = Area_Merge**

In [ ]:
#Load Data
Area_df = pd.read_csv('Area.csv')
Building_df = pd.read_csv('Building.csv')
District_df = pd.read_csv('District.csv')
BuildingOpeningHours_df = pd.read_csv('BuildingOpeningHours.csv')

In [ ]:
#merging Building_df with District.
BuilDes = Building_df.merge(District_df, how="left", left_on="Building_DistrictId", right_on="District_Id")

In [ ]:
#Merging BuildingOpeningHours with BuilDes
BuilOpHr_BuilDes = BuildingOpeningHours_df.merge(BuilDes, how="left", left_on="BuildingOpeningHours_BuildingId", right_on="Building_Id")

In [ ]:
#Merging Area_df with BuildOpHr
Area_Merge = Area_df.merge(BuilOpHr_BuilDes, how="left", left_on="Area_BuildingId", right_on="Building_Id")

In [ ]:
#Area merge result data save
#Area_Merge.to_csv('Area_merge.csv', index=False)

In [ ]:
Area_Merge.head()

,Area_Id,Area_BuildingId,Area_Active,Area_Title,Area_ShowInBookingSystem,BuildingOpeningHours_Id,BuildingOpeningHours_BuildingId,BuildingOpeningHours_DayId,BuildingOpeningHours_IsOpen,BuildingOpeningHours_OpeningTime,...,BuildingOpeningHours_DisplayOrder,Building_Id,Building_DistrictId,Building_Active,Building_IsRestrictedOpeningHours,Building_Postcode,Building_Title,District_Id,District_Active,District_Title
0,5,4,True,Jzdfjqqg Bozij,False,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6,5,True,Qqozby Tdooq,False,127.0,5.0,7.0,False,08:00:00,...,1.0,5.0,4.0,True,True,WF1 2TE,Vylyn Qbpo Pobxmg & Hoxxhoapf Nopmyo,4.0,True,Hnfpuyplq
2,6,5,True,Qqozby Tdooq,False,128.0,5.0,1.0,True,08:00:00,...,2.0,5.0,4.0,True,True,WF1 2TE,Vylyn Qbpo Pobxmg & Hoxxhoapf Nopmyo,4.0,True,Hnfpuyplq
3,6,5,True,Qqozby Tdooq,False,129.0,5.0,2.0,True,08:00:00,...,3.0,5.0,4.0,True,True,WF1 2TE,Vylyn Qbpo Pobxmg & Hoxxhoapf Nopmyo,4.0,True,Hnfpuyplq
4,6,5,True,Qqozby Tdooq,False,130.0,5.0,3.0,True,08:00:00,...,4.0,5.0,4.0,True,True,WF1 2TE,Vylyn Qbpo Pobxmg & Hoxxhoapf Nopmyo,4.0,True,Hnfpuyplq

**BookUnit+BookVir+BookUntTyp+BookUnitEqp+Eqp+Area_Merge = BookUnit_merge**

In [ ]:
BookUnit_df = pd.read_csv('BookableUnit.csv')
BookVir_df = pd.read_csv('BookableUnitVirtual.csv')
BookUntTyp_df = pd.read_csv('BookableUnitType.csv')
BookUnitEqp_df = pd.read_csv('BookableUnitEquipment.csv')
Eqp_df = pd.read_csv('Equipment.csv')

In [ ]:
#BookUnitEqp_df + Eqp_df
BUEE = BookUnitEqp_df.merge(Eqp_df, how="left", left_on="BookableUnitEquipment_EquipmentId", right_on="Equipment_Id")

In [ ]:
#BookUnit_df + BookUnitTyp_df
BU_BUT = BookUnit_df.merge(BookUntTyp_df, how="left", left_on="BookableUnit_BookableUnitTypeId", right_on="BookableUnitType_Id")

In [ ]:
#BU_BUT + BookVir_df
BU_BUT_BV = BU_BUT.merge(BookVir_df, how="left", left_on="BookableUnit_Id", right_on="BookableUnitVirtual_BookableUnitId")

In [ ]:
BUEE.head(10)

/usr/local/lib/python3.11/dist-packages/google/colab/_dataframe_summarizer.py:88: UserWarning: Parsing dates in %d/%m/%Y %H:%M:%S format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  cast_date_col = pd.to_datetime(column, errors="coerce")

,BookableUnitEquipment_Id,BookableUnitEquipment_BookableUnitId,BookableUnitEquipment_EquipmentId,BookableUnitEquipment_StartDate,BookableUnitEquipment_EndDate,Equipment_Id,Equipment_Title
0,8,17,8,31/05/2016 15:15:23,NaN,8,Whiteboard
1,9,18,7,31/05/2016 15:15:23,NaN,7,Flipboard
2,10,18,8,31/05/2016 15:15:23,NaN,8,Whiteboard
3,11,18,6,31/05/2016 15:15:23,31/05/2016 15:15:23,6,Cisco Conference Phone
4,12,30,7,31/05/2016 15:15:23,17/08/2016 14:20:23,7,Flipboard
5,13,30,8,31/05/2016 15:15:23,17/08/2016 14:20:23,8,Whiteboard
6,14,30,6,31/05/2016 15:15:23,17/08/2016 14:20:23,6,Cisco Conference Phone
7,15,38,9,29/06/2016 09:29:26,04/07/2016 13:45:12,9,Examination Couch
8,16,38,10,29/06/2016 09:29:26,NaN,10,PC
9,17,40,9,04/07/2016 13:09:17,NaN,9,Examination Couch

In [ ]:
#Ignore
#join every equipment asscociated to a bookableUnitID into a single equipment_title list
BUEE['Equipment_Title'] = BUEE.groupby(['BookableUnitEquipment_BookableUnitId'])['Equipment_Title'].transform(lambda x: ', '.join(x))

In [ ]:
BUEE.head()

/usr/local/lib/python3.11/dist-packages/google/colab/_dataframe_summarizer.py:88: UserWarning: Parsing dates in %d/%m/%Y %H:%M:%S format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  cast_date_col = pd.to_datetime(column, errors="coerce")

,BookableUnitEquipment_Id,BookableUnitEquipment_BookableUnitId,BookableUnitEquipment_EquipmentId,BookableUnitEquipment_StartDate,BookableUnitEquipment_EndDate,Equipment_Id,Equipment_Title
0,8,17,8,31/05/2016 15:15:23,NaN,8,Whiteboard
1,9,18,7,31/05/2016 15:15:23,NaN,7,"Flipboard, Whiteboard, Cisco Conference Phone"
2,10,18,8,31/05/2016 15:15:23,NaN,8,"Flipboard, Whiteboard, Cisco Conference Phone"
3,11,18,6,31/05/2016 15:15:23,31/05/2016 15:15:23,6,"Flipboard, Whiteboard, Cisco Conference Phone"
4,12,30,7,31/05/2016 15:15:23,17/08/2016 14:20:23,7,"Flipboard, Whiteboard, Cisco Conference Phone,..."

In [ ]:
#drop duplicates of the bookableUnitId
BUEE = BUEE.drop_duplicates(subset=['BookableUnitEquipment_BookableUnitId'])

In [ ]:
BUEE.head()

/usr/local/lib/python3.11/dist-packages/google/colab/_dataframe_summarizer.py:88: UserWarning: Parsing dates in %d/%m/%Y %H:%M:%S format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  cast_date_col = pd.to_datetime(column, errors="coerce")

,BookableUnitEquipment_Id,BookableUnitEquipment_BookableUnitId,BookableUnitEquipment_EquipmentId,BookableUnitEquipment_StartDate,BookableUnitEquipment_EndDate,Equipment_Id,Equipment_Title
0,8,17,8,31/05/2016 15:15:23,NaN,8,Whiteboard
1,9,18,7,31/05/2016 15:15:23,NaN,7,"Flipboard, Whiteboard, Cisco Conference Phone"
4,12,30,7,31/05/2016 15:15:23,17/08/2016 14:20:23,7,"Flipboard, Whiteboard, Cisco Conference Phone,..."
7,15,38,9,29/06/2016 09:29:26,04/07/2016 13:45:12,9,"Examination Couch, PC, Telephone, Treatment Chair"
9,17,40,9,04/07/2016 13:09:17,NaN,9,"Examination Couch, PC, Telephone"

In [ ]:
BU_BUT_BV.head()

,BookableUnit_Id,BookableUnit_AreaId,BookableUnit_Active,BookableUnit_Capacity,BookableUnit_BookableUnitTypeId,BookableUnit_IsClinical,BookableUnit_IsPartitioned,BookableUnit_IsVirtual,BookableUnit_Title,BookableUnitType_Id,BookableUnitType_Title,BookableUnitVirtual_Id,BookableUnitVirtual_BookableUnitId,BookableUnitVirtual_ChildBookableUnitId,BookableUnitVirtual_Capacity
0,17,5,True,4.0,1,True,False,False,Sppt 100 (Hbq 4),1,Meeting Room,NaN,NaN,NaN,NaN
1,18,5,True,6.0,1,True,False,False,Sppt 100 (Hbq 6),1,Meeting Room,NaN,NaN,NaN,NaN
2,19,5,True,1.0,2,True,False,False,Qpw Kvac 1,2,Hot Desk,NaN,NaN,NaN,NaN
3,20,5,True,1.0,2,True,False,False,Qpw Kvac 2,2,Hot Desk,NaN,NaN,NaN,NaN
4,21,5,True,1.0,2,True,False,False,Qpw Kvac 3,2,Hot Desk,NaN,NaN,NaN,NaN

In [ ]:
BU_BUT_BV_BUEE = BU_BUT_BV.merge(BUEE, how="left", left_on="BookableUnit_Id", right_on="BookableUnitEquipment_BookableUnitId")

In [ ]:
#Save marge result
#BU_BUT_BV_BUEE.to_csv('BU_BUT_BV_BUEE.csv', index=False)

In [ ]:
BU_BUT_BV_BUEE.head()

,BookableUnit_Id,BookableUnit_AreaId,BookableUnit_Active,BookableUnit_Capacity,BookableUnit_BookableUnitTypeId,BookableUnit_IsClinical,BookableUnit_IsPartitioned,BookableUnit_IsVirtual,BookableUnit_Title,BookableUnitType_Id,...,BookableUnitVirtual_BookableUnitId,BookableUnitVirtual_ChildBookableUnitId,BookableUnitVirtual_Capacity,BookableUnitEquipment_Id,BookableUnitEquipment_BookableUnitId,BookableUnitEquipment_EquipmentId,BookableUnitEquipment_StartDate,BookableUnitEquipment_EndDate,Equipment_Id,Equipment_Title
0,17,5,True,4.0,1,True,False,False,Sppt 100 (Hbq 4),1,...,NaN,NaN,NaN,8.0,17.0,8.0,31/05/2016 15:15:23,NaN,8.0,Whiteboard
1,18,5,True,6.0,1,True,False,False,Sppt 100 (Hbq 6),1,...,NaN,NaN,NaN,9.0,18.0,7.0,31/05/2016 15:15:23,NaN,7.0,"Flipboard, Whiteboard, Cisco Conference Phone"
2,19,5,True,1.0,2,True,False,False,Qpw Kvac 1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20,5,True,1.0,2,True,False,False,Qpw Kvac 2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,21,5,True,1.0,2,True,False,False,Qpw Kvac 3,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#Merging all table associated to bookableUnit
BookUnit_merge = BU_BUT_BV_BUEE.merge(Area_Merge, how="left", left_on="BookableUnit_AreaId", right_on="Area_Id")

In [ ]:
#BookUnit Full merge data save
#BookUnit_merge.to_csv('BookUnit_merge.csv', index=False)

**Booking+BookType+BookState+BookAutSta+AvailSearch = booking_merge**

In [ ]:
booking_df = pd.read_csv('Booking.csv')
BookType_df = pd.read_csv('BookingType.csv')
BookState_df = pd.read_csv('BookingState.csv')
BookAutSta_df = pd.read_csv('BookingAuthorisationStatus.csv')
AvailSer_df = pd.read_csv('AvailabilitySearch.csv')

/tmp/ipython-input-6-1070387468.py:5: DtypeWarning: Columns (10,11,16,17,18,19,20,21,22,33) have mixed types. Specify dtype option on import or set low_memory=False.
  AvailSer_df = pd.read_csv('AvailabilitySearch.csv')

In [ ]:
bookingM1 = booking_df.merge(BookType_df, how="left", left_on="Booking_BookingTypeId", right_on="BookingType_Id")

In [ ]:
BookingM2 = bookingM1.merge(BookState_df, how="left", left_on="Booking_BookingStateId", right_on="BookingState_Id")

In [ ]:
bookingM3 = BookingM2.merge(BookAutSta_df, how="left", left_on="Booking_BookingAuthorisationStatusId", right_on="BookingAuthorisationStatus_Id")

In [ ]:
booking_merge = bookingM3.merge(AvailSer_df, how="left", left_on="Booking_AvailabilitySearchId", right_on="AvailabilitySearch_Id")

In [ ]:
#Saving Booking Merge
booking_merge.to_csv('booking_merge.csv', index=False)

In [ ]:
booking_merge.head(20)

,Booking_Id,Booking_AvailabilitySearchId,Booking_BookingStateId,Booking_BookingAuthorisationStatusId,Booking_BookableUnitId,Booking_BookedOnBehalfOfSomeoneElse,Booking_ExternalBooking,Booking_ExternalBookingOrganisationId,Booking_BookingTypeId,Booking_TeamId,...,AvailabilitySearch_RangeOfRecurrenceTypeId,AvailabilitySearch_RangeOfRecurrenceEndAfterXOcurrences,AvailabilitySearch_RangeOfRecurrenceEndBy,AvailabilitySearch_EditMode,AvailabilitySearch_EditBookingOccasionId,AvailabilitySearch_EditIsRecurrentBooking,AvailabilitySearch_BookableUnitTypeId,AvailabilitySearch_MonthlyRecurrenceEveryXMonth,AvailabilitySearch_RoomTypeId,AvailabilitySearch_SearchMadeAtDate
0,7,6,0,1,17,False,False,NaN,0.0,3.0,...,NaN,NaN,NaN,False,NaN,NaN,1,NaN,NaN,31 May 2016
1,8,7,0,1,17,False,False,NaN,0.0,3.0,...,NaN,NaN,NaN,False,NaN,NaN,1,NaN,NaN,31 May 2016
2,9,7,0,3,18,False,False,NaN,0.0,3.0,...,NaN,NaN,NaN,False,NaN,NaN,1,NaN,NaN,31 May 2016
3,10,8,0,1,24,False,False,NaN,0.0,3.0,...,NaN,NaN,NaN,False,NaN,NaN,1,NaN,NaN,31 May 2016
4,11,9,0,1,30,False,False,NaN,0.0,3.0,...,NaN,NaN,NaN,False,NaN,NaN,1,NaN,NaN,31 May 2016
5,12,10,0,1,31,True,True,NaN,1.0,4.0,...,NaN,NaN,NaN,False,NaN,NaN,1,NaN,NaN,31 May 2016
6,14,12,3,1,31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,False,0.0,False,1,NaN,NaN,06 June 2016
7,16,19,0,1,30,False,False,NaN,1.0,4.0,...,NaN,NaN,NaN,False,0.0,False,1,NaN,NaN,21 June 2016
8,17,20,0,1,24,False,False,NaN,1.0,4.0,...,NaN,NaN,NaN,False,0.0,False,1,NaN,NaN,21 June 2016
9,18,21,0,1,30,False,False,NaN,1.0,3.0,...,NaN,NaN,NaN,False,0.0,False,1,NaN,NaN,21 June 2016
10,19,22,3,1,30,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,False,0.0,False,1,NaN,NaN,22 June 2016
11,20,22,3,1,30,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,False,0.0,False,1,NaN,NaN,22 June 2016
12,21,23,3,1,30,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,False,0.0,False,1,NaN,NaN,22 June 2016
13,22,24,0,1,30,False,False,NaN,1.0,4.0,...,NaN,NaN,NaN,False,0.0,False,1,NaN,NaN,22 June 2016
14,23,26,0,1,31,False,False,NaN,1.0,4.0,...,NaN,NaN,NaN,False,0.0,False,1,NaN,NaN,28 June 2016
15,24,27,0,1,30,False,False,NaN,2.0,4.0,...,NaN,NaN,NaN,False,0.0,False,1,NaN,NaN,28 June 2016
16,25,29,0,1,24,False,False,NaN,2.0,4.0,...,NaN,NaN,NaN,False,0.0,False,1,NaN,NaN,28 June 2016
17,26,30,0,1,30,False,False,NaN,2.0,4.0,...,NaN,NaN,NaN,False,0.0,False,1,NaN,NaN,28 June 2016
18,27,31,3,1,31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,False,0.0,False,1,NaN,NaN,28 June 2016
19,28,32,3,1,31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,False,0.0,False,1,NaN,NaN,28 June 2016

**Booking_merge+team_merge+BookableUnit_merge = BK_T_BU**

In [ ]:
BK_T = booking_merge.merge(Team_merge, how="left", left_on="Booking_TeamId", right_on="Team_Id")

In [ ]:
BK_T_BU = BK_T.merge(BookUnit_merge, how="left", left_on="Booking_BookableUnitId", right_on="BookableUnit_Id")

In [ ]:
#BK_T_BU merge data save
#BK_T_BU.to_csv('BK_T_BU_Merge.csv', index=False)

**BK_T_BU To BookingOcc_merge = BOCC_BKTBU**

In [ ]:
BO_BM = BookingOcc_merge.merge(BK_T_BU, how="left", left_on="BookingOccasion_BookingId", right_on="Booking_Id")

NameError: name 'BookingOcc_merge' is not defined

**Data Loading for BM_PM and BO_BM_PM**

In [ ]:
BK_T_BU_Merge = pd.read_csv('BK_T_BU_Merge.csv')
BookingOcc_merge = pd.read_csv('BookingOcc_merge.csv')
Person_merge = pd.read_csv('Person_merge.csv')

/tmp/ipython-input-3-865471783.py:1: DtypeWarning: Columns (5,6,20,22,28,29,34,35,36,37,38,39,40,48,51,55,57,61,65,86,97,103,104,108) have mixed types. Specify dtype option on import or set low_memory=False.
  BK_T_BU_Merge = pd.read_csv('BK_T_BU_Merge.csv')

**BK_T_BU to Person_merge = BM_PM**

In [ ]:
BM_PM = BK_T_BU_Merge.merge(Person_merge, how="left", left_on="Booking_Id", right_on="PersonBooking_BookingId")

In [ ]:
BM_PM.head(20)

,Booking_Id,Booking_AvailabilitySearchId,Booking_BookingStateId,Booking_BookingAuthorisationStatusId,Booking_BookableUnitId,Booking_BookedOnBehalfOfSomeoneElse,Booking_ExternalBooking,Booking_ExternalBookingOrganisationId,Booking_BookingTypeId,Booking_TeamId,...,District_Title,PersonBooking_Id,PersonBooking_PersonId,PersonBooking_BookingId,PersonBooking_PersonBookingTypeId,Person_Id,Person_districtId,Person_buildingId,PersonBookingType_Id,PersonBookingType_Title
0,7,6,0,1,17,False,False,NaN,0.0,3.0,...,NaN,13,6,7,1,6,NaN,NaN,1,Booked By
1,7,6,0,1,17,False,False,NaN,0.0,3.0,...,NaN,14,6,7,2,6,NaN,NaN,2,Booked For
2,8,7,0,1,17,False,False,NaN,0.0,3.0,...,NaN,15,6,8,1,6,NaN,NaN,1,Booked By
3,8,7,0,1,17,False,False,NaN,0.0,3.0,...,NaN,16,6,8,2,6,NaN,NaN,2,Booked For
4,9,7,0,3,18,False,False,NaN,0.0,3.0,...,NaN,17,7,9,1,7,NaN,NaN,1,Booked By
5,9,7,0,3,18,False,False,NaN,0.0,3.0,...,NaN,18,7,9,2,7,NaN,NaN,2,Booked For
6,10,8,0,1,24,False,False,NaN,0.0,3.0,...,Hnfpuyplq,19,6,10,1,6,NaN,NaN,1,Booked By
7,10,8,0,1,24,False,False,NaN,0.0,3.0,...,Hnfpuyplq,20,6,10,2,6,NaN,NaN,2,Booked For
8,10,8,0,1,24,False,False,NaN,0.0,3.0,...,Hnfpuyplq,19,6,10,1,6,NaN,NaN,1,Booked By
9,10,8,0,1,24,False,False,NaN,0.0,3.0,...,Hnfpuyplq,20,6,10,2,6,NaN,NaN,2,Booked For
10,10,8,0,1,24,False,False,NaN,0.0,3.0,...,Hnfpuyplq,19,6,10,1,6,NaN,NaN,1,Booked By
11,10,8,0,1,24,False,False,NaN,0.0,3.0,...,Hnfpuyplq,20,6,10,2,6,NaN,NaN,2,Booked For
12,10,8,0,1,24,False,False,NaN,0.0,3.0,...,Hnfpuyplq,19,6,10,1,6,NaN,NaN,1,Booked By
13,10,8,0,1,24,False,False,NaN,0.0,3.0,...,Hnfpuyplq,20,6,10,2,6,NaN,NaN,2,Booked For
14,10,8,0,1,24,False,False,NaN,0.0,3.0,...,Hnfpuyplq,19,6,10,1,6,NaN,NaN,1,Booked By
15,10,8,0,1,24,False,False,NaN,0.0,3.0,...,Hnfpuyplq,20,6,10,2,6,NaN,NaN,2,Booked For
16,10,8,0,1,24,False,False,NaN,0.0,3.0,...,Hnfpuyplq,19,6,10,1,6,NaN,NaN,1,Booked By
17,10,8,0,1,24,False,False,NaN,0.0,3.0,...,Hnfpuyplq,20,6,10,2,6,NaN,NaN,2,Booked For
18,10,8,0,1,24,False,False,NaN,0.0,3.0,...,Hnfpuyplq,19,6,10,1,6,NaN,NaN,1,Booked By
19,10,8,0,1,24,False,False,NaN,0.0,3.0,...,Hnfpuyplq,20,6,10,2,6,NaN,NaN,2,Booked For

In [ ]:
#PM_BM merge data save
#BM_PM.to_csv('BM_PM_Merge.csv', index=False)

**Merging the result from BK_T_BU with Persons Merge to BookingOcc_merge = BO_BM_PM**

In [ ]:
BO_BM_PM = BookingOcc_merge.merge(BM_PM, how="left", left_on="BookingOccasion_BookingId", right_on="PersonBooking_BookingId")

In [ ]:
BO_BM_PM.to_csv('BO_PM_BM_Merge.csv', index=False)

**SELECTING IMPORTANT VARIABLES FOR ANALYSIS**

In [ ]:
#Printing Full List of Variables in thE FINAL MERGE (BO_BM_PM)
cols = BO_BM_PM.columns.tolist()
print(cols)

['BookingOccasion_Id', 'BookingOccasion_BookingId', 'BookingOccasion_StartDateTime', 'BookingOccasion_EndDateTime', 'BookingOccasion_BookingOccasionStateId', 'BookingOccasion_CancellationReasonId', 'BookingOccasion_CancelledDate', 'BookingOccasion_NumberOfVisitors', 'BookingOccasion_StartDate', 'CancellationReason_Id', 'CancellationReason_ReasonText', 'CancellationReason_StartDate', 'CancellationReason_EndDate', 'BookingOccasionState_Id', 'BookingOccasionState_Title', 'Booking_Id', 'Booking_AvailabilitySearchId', 'Booking_BookingStateId', 'Booking_BookingAuthorisationStatusId', 'Booking_BookableUnitId', 'Booking_BookedOnBehalfOfSomeoneElse', 'Booking_ExternalBooking', 'Booking_ExternalBookingOrganisationId', 'Booking_BookingTypeId', 'Booking_TeamId', 'Booking_MeetingTitle', 'Booking_ParentBookingId', 'BookingType_Id', 'BookingType_Title', 'BookingState_Id', 'BookingState_Title', 'BookingAuthorisationStatus_Id', 'BookingAuthorisationStatus_Title', 'AvailabilitySearch_Id', 'AvailabilitySearch_PersonId', 'AvailabilitySearch_SearchMadeAt', 'AvailabilitySearch_NumberOfResultsReturned', 'AvailabilitySearch_DateTime', 'AvailabilitySearch_Duration', 'AvailabilitySearch_Capacity', 'AvailabilitySearch_DistrictId', 'AvailabilitySearch_BuildingId', 'AvailabilitySearch_AreaID', 'AvailabilitySearch_BookingPlaced', 'AvailabilitySearch_RecurrentBooking', 'AvailabilitySearch_RecurrencePatternId', 'AvailabilitySearch_DailyRecurrencePatternId', 'AvailabilitySearch_DailyEveryXDays', 'AvailabilitySearch_WeeklyEveryXWeeks', 'AvailabilitySearch_WeeklyMonday', 'AvailabilitySearch_WeeklyTuesday', 'AvailabilitySearch_WeeklyWednesday', 'AvailabilitySearch_WeeklyThursday', 'AvailabilitySearch_WeeklyFriday', 'AvailabilitySearch_WeeklySaturday', 'AvailabilitySearch_WeeklySunday', 'AvailabilitySearch_MonthlyRecurrencePatternId', 'AvailabilitySearch_MonthlyRecurrenceDayNumber', 'AvailabilitySearch_MonthlyRecurrenceEveryXMonths', 'AvailabilitySearch_MonthlyRecurrenceLastDayId', 'AvailabilitySearch_MonthlyRecurrenceWeekDayNumberId', 'AvailabilitySearch_RangeOfRecurrenceTypeId', 'AvailabilitySearch_RangeOfRecurrenceEndAfterXOcurrences', 'AvailabilitySearch_RangeOfRecurrenceEndBy', 'AvailabilitySearch_EditMode', 'AvailabilitySearch_EditBookingOccasionId', 'AvailabilitySearch_EditIsRecurrentBooking', 'AvailabilitySearch_BookableUnitTypeId', 'AvailabilitySearch_MonthlyRecurrenceEveryXMonth', 'AvailabilitySearch_RoomTypeId', 'AvailabilitySearch_SearchMadeAtDate', 'Team_Id', 'Team_Active', 'Team_ServiceId', 'Team_Title', 'Service_Id', 'Service_Active', 'Service_BusinessDeliveryUnitId', 'Service_Title', 'BusinessDeliveryUnit_Id', 'BusinessDeliveryUnit_Active', 'BusinessDeliveryUnit_Title', 'BookableUnit_Id', 'BookableUnit_AreaId', 'BookableUnit_Active', 'BookableUnit_Capacity', 'BookableUnit_BookableUnitTypeId', 'BookableUnit_IsClinical', 'BookableUnit_IsPartitioned', 'BookableUnit_IsVirtual', 'BookableUnit_Title', 'BookableUnitType_Id', 'BookableUnitType_Title', 'BookableUnitVirtual_Id', 'BookableUnitVirtual_BookableUnitId', 'BookableUnitVirtual_ChildBookableUnitId', 'BookableUnitVirtual_Capacity', 'BookableUnitEquipment_Id', 'BookableUnitEquipment_BookableUnitId', 'BookableUnitEquipment_EquipmentId', 'BookableUnitEquipment_StartDate', 'BookableUnitEquipment_EndDate', 'Equipment_Id', 'Equipment_Title', 'Area_Id', 'Area_BuildingId', 'Area_Active', 'Area_Title', 'Area_ShowInBookingSystem', 'BuildingOpeningHours_Id', 'BuildingOpeningHours_BuildingId', 'BuildingOpeningHours_DayId', 'BuildingOpeningHours_IsOpen', 'BuildingOpeningHours_OpeningTime', 'BuildingOpeningHours_ClosingTime', 'BuildingOpeningHours_DisplayOrder', 'Building_Id', 'Building_DistrictId', 'Building_Active', 'Building_IsRestrictedOpeningHours', 'Building_Postcode', 'Building_Title', 'District_Id', 'District_Active', 'District_Title', 'PersonBooking_Id', 'PersonBooking_PersonId', 'PersonBooking_BookingId', 'PersonBooking_PersonBookingTypeId', 'Person_Id', 'Person_districtId', 'Person_buildingId', 'PersonBookingType_Id', 'PersonBookingType_Title']

In [ ]:
#Inputing the Desired Varible in a list
NewCols = ['BookingOccasion_Id', 'BookingOccasion_BookingId', 'BookingOccasion_StartDateTime',
            'BookingOccasion_EndDateTime', 'BookingOccasion_BookingOccasionStateId',
           'BookingOccasion_CancellationReasonId', 'BookingOccasion_StartDate',
           'CancellationReason_Id', 'CancellationReason_ReasonText', 'CancellationReason_StartDate',
           'BookingOccasionState_Title', 'Booking_BookingStateId', 'BookingState_Title',
           'Booking_BookingAuthorisationStatusId', 'Booking_BookableUnitId', 'Booking_BookedOnBehalfOfSomeoneElse',
           'Booking_ExternalBooking', 'Booking_BookingTypeId',
          'Booking_TeamId', 'BookingType_Title', 'BookingState_Title', 'BookingAuthorisationStatus_Title',
           'AvailabilitySearch_SearchMadeAt',  'AvailabilitySearch_DateTime', 'AvailabilitySearch_Duration',
           'AvailabilitySearch_Capacity', 'AvailabilitySearch_BookingPlaced', 'AvailabilitySearch_RecurrentBooking',
           'AvailabilitySearch_BookableUnitTypeId', 'Team_Active', 'Team_Title', 'Service_Id', 'Service_Active',
           'Service_BusinessDeliveryUnitId', 'Service_Title', 'BusinessDeliveryUnit_Id', 'BusinessDeliveryUnit_Active',
           'BusinessDeliveryUnit_Title', 'BookableUnit_Id', 'BookableUnit_AreaId', 'BookableUnit_Active', 'BookableUnit_Capacity',
           'BookableUnit_BookableUnitTypeId', 'BookableUnit_IsClinical', 'BookableUnit_IsPartitioned', 'BookableUnit_IsVirtual',
           'BookableUnit_Title', 'BookableUnitType_Title', 'Equipment_Title', 'Area_Id', 'Area_BuildingId', 'Area_Active',
           'Area_Title', 'BuildingOpeningHours_Id', 'BuildingOpeningHours_IsOpen', 'BuildingOpeningHours_OpeningTime',
           'BuildingOpeningHours_ClosingTime', 'Building_Active',  'Building_Postcode', 'Building_Title',
           'District_Title','Person_Id', 'PersonBooking_Id']

In [ ]:
#parsing them into a new dataframe
BO_BM_PM_new = BO_BM_PM[NewCols]

In [ ]:
#Numner of COLUMNS AND ROWS
BO_BM_PM_new.shape

(7540338, 63)

In [ ]:
#Unique count of Occsion_ID(This match the same count as presented by maywood. Shows geniue merging Process)
BO_BM_PM['BookingOccasion_Id'].nunique()

1127551

In [ ]:
BO_BM_PM['BookingOccasion_BookingId'].nunique()

429735

In [ ]:
BO_BM_PM_new.head(50)

,BookingOccasion_Id,BookingOccasion_BookingId,BookingOccasion_StartDateTime,BookingOccasion_EndDateTime,BookingOccasion_BookingOccasionStateId,BookingOccasion_CancellationReasonId,BookingOccasion_StartDate,CancellationReason_Id,CancellationReason_ReasonText,CancellationReason_StartDate,...,BuildingOpeningHours_Id,BuildingOpeningHours_IsOpen,BuildingOpeningHours_OpeningTime,BuildingOpeningHours_ClosingTime,Building_Active,Building_Postcode,Building_Title,District_Title,Person_Id,PersonBooking_Id
0,55,7,06/06/2016 12:00:00,06/06/2016 12:30:00,1,NaN,06 June 2016,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,13
1,55,7,06/06/2016 12:00:00,06/06/2016 12:30:00,1,NaN,06 June 2016,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,14
2,56,8,06/06/2016 12:00:00,06/06/2016 12:30:00,1,NaN,06 June 2016,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,15
3,56,8,06/06/2016 12:00:00,06/06/2016 12:30:00,1,NaN,06 June 2016,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,16
4,57,8,07/06/2016 12:00:00,07/06/2016 12:30:00,1,NaN,07 June 2016,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,15
5,57,8,07/06/2016 12:00:00,07/06/2016 12:30:00,1,NaN,07 June 2016,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,16
6,58,8,08/06/2016 12:00:00,08/06/2016 15:30:00,1,NaN,08 June 2016,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,15
7,58,8,08/06/2016 12:00:00,08/06/2016 15:30:00,1,NaN,08 June 2016,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,16
8,59,8,09/06/2016 12:00:00,09/06/2016 14:30:00,1,NaN,09 June 2016,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,15
9,59,8,09/06/2016 12:00:00,09/06/2016 14:30:00,1,NaN,09 June 2016,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,16
10,60,8,10/06/2016 12:00:00,10/06/2016 12:30:00,1,NaN,10 June 2016,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,15
11,60,8,10/06/2016 12:00:00,10/06/2016 12:30:00,1,NaN,10 June 2016,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,16
12,61,8,11/06/2016 12:00:00,11/06/2016 12:30:00,1,NaN,11 June 2016,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,15
13,61,8,11/06/2016 12:00:00,11/06/2016 12:30:00,1,NaN,11 June 2016,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,16
14,62,8,12/06/2016 12:00:00,12/06/2016 14:30:00,1,NaN,12 June 2016,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,15
15,62,8,12/06/2016 12:00:00,12/06/2016 14:30:00,1,NaN,12 June 2016,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,16
16,63,8,13/06/2016 12:00:00,13/06/2016 12:30:00,1,NaN,13 June 2016,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,15
17,63,8,13/06/2016 12:00:00,13/06/2016 12:30:00,1,NaN,13 June 2016,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,16
18,64,8,14/06/2016 12:00:00,14/06/2016 15:30:00,1,NaN,14 June 2016,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,15
19,64,8,14/06/2016 12:00:00,14/06/2016 15:30:00,1,NaN,14 June 2016,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,16
20,65,8,15/06/2016 12:00:00,15/06/2016 12:30:00,1,NaN,15 June 2016,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,15
21,65,8,15/06/2016 12:00:00,15/06/2016 12:30:00,1,NaN,15 June 2016,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,16
22,66,8,16/06/2016 12:00:00,16/06/2016 16:30:00,1,NaN,16 June 2016,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,15
23,66,8,16/06/2016 12:00:00,16/06/2016 16:30:00,1,NaN,16 June 2016,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,16
24,67,8,17/06/2016 12:00:00,17/06/2016 12:30:00,1,NaN,17 June 2016,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,15
25,67,8,17/06/2016 12:00:00,17/06/2016 12:30:00,1,NaN,17 June 2016,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,16
26,68,8,18/06/2016 12:00:00,18/06/2016 12:30:00,1,NaN,18 June 2016,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,15
27,68,8,18/06/2016 12:00:00,18/06/2016 12:30:00,1,NaN,18 June 2016,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,16
28,69,9,06/06/2016 12:00:00,06/06/2016 12:30:00,1,NaN,06 June 2016,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,17
29,69,9,06/06/2016 12:00:00,06/06/2016 12:30:00,1,NaN,06 June 2016,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,18
30,70,10,06/06/2016 10:00:00,06/06/2016 10:30:00,2,1.0,06 June 2016,1.0,Cancelled by User,17/05/2016 15:52:22,...,127.0,False,08:00:00,17:00:00,True,WF1 2TE,Vylyn Qbpo Pobxmg & Hoxxhoapf Nopmyo,Hnfpuyplq,6,19
31,70,10,06/06/2016 10:00:00,06/06/2016 10:30:00,2,1.0,06 June 2016,1.0,Cancelled by User,17/05/2016 15:52:22,...,127.0,False,08:00:00,17:00:00,True,WF1 2TE,Vylyn Qbpo Pobxmg & Hoxxhoapf Nopmyo,Hnfpuyplq,6,20
32,70,10,06/06/2016 10:00:00,06/06/2016 10:30:00,2,1.0,06 June 2016,1.0,Cancelled by User,17/05/2016 15:52:22,...,128.0,True,08:00:00,18:00:00,True,WF1 2TE,Vylyn Qbpo Pobxmg & Hoxxhoapf Nopmyo,Hnfpuyplq,6,19
33,70,10,06/06/2016 10:00:00,06/06/2016 10:30:00,2,1.0,06 June 2016,1.0,Cancelled by User,17/05/2016 15:52:22,...,128.0,True,08:00:00,18:00:00,True,WF1 2TE,Vylyn Qbpo Pobxmg & Hoxxhoapf Nopmyo,Hnfpuyplq,6,20
34,70,10,06/06/2016 10:00:00,06/06/2016 10:30:00,2,1.0,06 June 2016,1.0,Cancelled by User,17/05/2016 15:52:22,...,129.0,True,08:00:00,18:00:00,True,WF1 2TE,Vylyn Qbpo Pobxmg & Hoxxhoapf Nopmyo,Hnfpuyplq,6,19
35,70,10,06/06/2016 10:00:00,06/06/2016 10:30:00,2,1.0,06 June 2016,1.0,Cancelled by User,17/05/2016 15:52:22,...,129.0,True,08:00:00,18:00:00,True,WF1 2TE,Vylyn Qbpo Pobxmg & Hoxxhoapf Nopmyo,Hnfpuyplq,6,20
36,70,10,06/06/2016 10:00:00,06/06/2016 10:30:00,2,1.0,06 June 2016,1.0,Cancelled by User,17/05/2016 15:52:22,...,130.0,True,08:00:00,18:00:00,True,WF1 2TE,Vylyn Qbpo Pobxmg & Hoxxhoapf Nopmyo,Hnfpuyplq,6,19
37,70,10,06/06/2016 10:00:00,06/06/2016 10:30:00,2,1.0,06 June 2016,1.0,Cancelled by User,17/05/2016 15:52:22,...,130.0,True,08:00:00,18:00:00,True,WF1 2TE,Vylyn Qbpo Pobxmg & Hoxxhoapf Nopmyo,Hnfpuyplq,6,20
38,70,10,06/06/2016 10:00:00,06/06/2016 10:30:00,2,1.0,06 June 2016,1.0,Cancelled by User,17/05/2016 15:52:22,...,131.0,True,08:00:00,18:00:00,True,WF1 2TE,Vylyn Qbpo Pobxmg & Hoxxhoapf Nopmyo,Hnfpuyplq,6,19
39,70,10,06/06/2016 10:00:00,06/06/2016 10:30:00,2,1.0,06 June 2016,1.0,Cancelled by User,17/05/2016 15:52:22,...,131.0,True,08:00:00,18:00:00,True,WF1 2TE,Vylyn Qbpo Pobxmg & Hoxxhoapf Nopmyo,Hnfpuyplq,6,20
40,70,10,06/06/2016 10:00:00,06/06/2016 10:30:00,2,1.0,06 June 2016,1.0,Cancelled by User,17/05/2016 15:52:22,...,132.0,True,08:00:00,18:00:00,True,WF1 2TE,Vylyn Qbpo Pobxmg & Hoxxhoapf Nopmyo,Hnfpuyplq,6,19
41,70,10,06/06/2016 10:00:00,06/06/2016 10:30:00,2,1.0,06 June 2016,1.0,Cancelled by User,17/05/2016 15:52:22,...,132.0,True,08:00:00,18:00:00,True,WF1 2TE,Vylyn Qbpo Pobxmg & Hoxxhoapf Nopmyo,Hnfpuyplq,6,20
42,70,10,06/06/2016 10:00:00,06/06/2016 10:30:00,2,1.0,06 June 2016,1.0,Cancelled by User,17/05/2016 15:52:22,...,133.0,False,08:00:00,17:00:00,True,WF1 2TE,Vylyn Qbpo Pobxmg & Hoxxhoapf Nopmyo,Hnfpuyplq,6,19
43,70,10,06/06/2016 10:00:00,06/06/2016 10:30:00,2,1.0,06 June 2016,1.0,Cancelled by User,17/05/2016 15:52:22,...,133.0,False,08:00:00,17:00:00,True,WF1 2TE,Vylyn Qbpo Pobxmg & Hoxxhoapf Nopmyo,Hnfpuyplq,6,20
44,71,10,07/06/2016 10:00:00,07/06/2016 12:30:00,2,1.0,07 June 2016,1.0,Cancelled by User,17/05/2016 15:52:22,...,127.0,False,08:00:00,17:00:00,True,WF1 2TE,Vylyn Qbpo Pobxmg & Hoxxhoapf Nopmyo,Hnfpuyplq,6,19
45,71,10,07/06/2016 10:00:00,07/06/2016 12:30:00,2,1.0,07 June 2016,1.0,Cancelled by User,17/05/2016 15:52:22,...,127.0,False,08:00:00,17:00:00,True,WF1 2TE,Vylyn Qbpo Pobxmg & Hoxxhoapf Nopmyo,Hnfpuyplq,6,20
46,71,10,07/06/2016 10:00:00,07/06/2016 12:30:00,2,1.0,07 June 2016,1.0,Cancelled by User,17/05/2016 15:52:22,...,128.0,True,08:00:00,18:00:00,True,WF1 2TE,Vylyn Qbpo Pobxmg & Hoxxhoapf Nopmyo,Hnfpuyplq,6,19
47,71,10,07/06/2016 10:00:00,07/06/2016 12:30:00,2,1.0,07 June 2016,1.0,Cancelled by User,17/05/2016 15:52:22,...,128.0,True,08:00:00,18:00:00,True,WF1 2TE,Vylyn Qbpo Pobxmg & Hoxxhoapf Nopmyo,Hnfpuyplq,6,20
48,71,10,07/06/2016 10:00:00,07/06/2016 12:30:00,2,1.0,07 June 2016,1.0,Cancelled by User,17/05/2016 15:52:22,...,129.0,True,08:00:00,18:00:00,True,WF1 2TE,Vylyn Qbpo Pobxmg & Hoxxhoapf Nopmyo,Hnfpuyplq,6,19
49,71,10,07/06/2016 10:00:00,07/06/2016 12:30:00,2,1.0,07 June 2016,1.0,Cancelled by User,17/05/2016 15:52:22,...,129.0,True,08:00:00,18:00:00,True,WF1 2TE,Vylyn Qbpo Pobxmg & Hoxxhoapf Nopmyo,Hnfpuyplq,6,20

In [ ]:
#Setting the below date column to uk Dtype
BO_BM_PM_new['BookingOccasion_StartDateTime'] = pd.to_datetime(BO_BM_PM_new['BookingOccasion_StartDateTime'], dayfirst=True)
BO_BM_PM_new['BookingOccasion_EndDateTime'] = pd.to_datetime(BO_BM_PM_new['BookingOccasion_EndDateTime'], dayfirst=True)

/tmp/ipython-input-54-1679434242.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  BO_BM_PM_new['BookingOccasion_StartDateTime'] = pd.to_datetime(BO_BM_PM_new['BookingOccasion_StartDateTime'], dayfirst=True)
/tmp/ipython-input-54-1679434242.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  BO_BM_PM_new['BookingOccasion_EndDateTime'] = pd.to_datetime(BO_BM_PM_new['BookingOccasion_EndDateTime'], dayfirst=True)

In [ ]:
BO_BM_PM_new['BookingOccasion_StartDate'] = pd.to_datetime(BO_BM_PM_new['BookingOccasion_StartDate'], dayfirst=True)

/tmp/ipython-input-55-2881887969.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  BO_BM_PM_new['BookingOccasion_StartDate'] = pd.to_datetime(BO_BM_PM_new['BookingOccasion_StartDate'], dayfirst=True)

In [ ]:
#Confriming the process
BO_BM_PM_new['BookingOccasion_EndDateTime'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 7540338 entries, 0 to 7540337
Series name: BookingOccasion_EndDateTime
Non-Null Count    Dtype
--------------    -----
7540338 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 57.5 MB

In [ ]:
#Filtering the dataset to the instructed start and end date
start_date = pd.to_datetime('06/06/2016', dayfirst= True)
end_date = pd.to_datetime('19/05/2025', dayfirst= True)

recentData_df = BO_BM_PM_new[(BO_BM_PM_new['BookingOccasion_StartDateTime'] >= start_date) &
 (BO_BM_PM_new['BookingOccasion_StartDateTime'] <= end_date)]

In [ ]:
#Confrimig the distict Id count which matches the result of Booking occasions from the meeting.
recentData_df['BookingOccasion_Id'].nunique()

1050568

In [ ]:
#Number of bookings that happened within 6/6/2016 to 19/5/2025
recentData_df['BookingOccasion_BookingId'].nunique()

422760

**Created two dataset based on Bookings and BookingOccasions**

In [ ]:
#Droping Duplicates creating data based on Booking Occasions
Maywood_data_BookOccId = recentData_df.drop_duplicates( subset= 'BookingOccasion_Id')

In [ ]:
#Droping Duplicates creating data based on Booking IDs
Maywood_data_BookId = recentData_df.drop_duplicates( subset= 'BookingOccasion_BookingId')

In [ ]:
#Saving Results
Maywood_data_BookId.to_csv('Maywood_data_BookId.csv', index=False)

In [ ]:
#Saving Results
Maywood_data_BookOccId.to_csv('Maywood_data_BookOccId.csv', index=False)

In [ ]:
Maywood_data_BookOccId.head(30)

,BookingOccasion_Id,BookingOccasion_BookingId,BookingOccasion_StartDateTime,BookingOccasion_EndDateTime,BookingOccasion_BookingOccasionStateId,BookingOccasion_CancellationReasonId,BookingOccasion_StartDate,CancellationReason_Id,CancellationReason_ReasonText,CancellationReason_StartDate,...,BuildingOpeningHours_Id,BuildingOpeningHours_IsOpen,BuildingOpeningHours_OpeningTime,BuildingOpeningHours_ClosingTime,Building_Active,Building_Postcode,Building_Title,District_Title,Person_Id,PersonBooking_Id
0,55,7,2016-06-06 12:00:00,2016-06-06 12:30:00,1,NaN,2016-06-06,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,13
2,56,8,2016-06-06 12:00:00,2016-06-06 12:30:00,1,NaN,2016-06-06,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,15
4,57,8,2016-06-07 12:00:00,2016-06-07 12:30:00,1,NaN,2016-06-07,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,15
6,58,8,2016-06-08 12:00:00,2016-06-08 15:30:00,1,NaN,2016-06-08,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,15
8,59,8,2016-06-09 12:00:00,2016-06-09 14:30:00,1,NaN,2016-06-09,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,15
10,60,8,2016-06-10 12:00:00,2016-06-10 12:30:00,1,NaN,2016-06-10,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,15
12,61,8,2016-06-11 12:00:00,2016-06-11 12:30:00,1,NaN,2016-06-11,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,15
14,62,8,2016-06-12 12:00:00,2016-06-12 14:30:00,1,NaN,2016-06-12,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,15
16,63,8,2016-06-13 12:00:00,2016-06-13 12:30:00,1,NaN,2016-06-13,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,15
18,64,8,2016-06-14 12:00:00,2016-06-14 15:30:00,1,NaN,2016-06-14,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,15
20,65,8,2016-06-15 12:00:00,2016-06-15 12:30:00,1,NaN,2016-06-15,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,15
22,66,8,2016-06-16 12:00:00,2016-06-16 16:30:00,1,NaN,2016-06-16,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,15
24,67,8,2016-06-17 12:00:00,2016-06-17 12:30:00,1,NaN,2016-06-17,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,15
26,68,8,2016-06-18 12:00:00,2016-06-18 12:30:00,1,NaN,2016-06-18,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,15
28,69,9,2016-06-06 12:00:00,2016-06-06 12:30:00,1,NaN,2016-06-06,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,17
30,70,10,2016-06-06 10:00:00,2016-06-06 10:30:00,2,1.0,2016-06-06,1.0,Cancelled by User,17/05/2016 15:52:22,...,127.0,False,08:00:00,17:00:00,True,WF1 2TE,Vylyn Qbpo Pobxmg & Hoxxhoapf Nopmyo,Hnfpuyplq,6,19
44,71,10,2016-06-07 10:00:00,2016-06-07 12:30:00,2,1.0,2016-06-07,1.0,Cancelled by User,17/05/2016 15:52:22,...,127.0,False,08:00:00,17:00:00,True,WF1 2TE,Vylyn Qbpo Pobxmg & Hoxxhoapf Nopmyo,Hnfpuyplq,6,19
58,72,10,2016-06-08 10:00:00,2016-06-08 15:30:00,2,1.0,2016-06-08,1.0,Cancelled by User,17/05/2016 15:52:22,...,127.0,False,08:00:00,17:00:00,True,WF1 2TE,Vylyn Qbpo Pobxmg & Hoxxhoapf Nopmyo,Hnfpuyplq,6,19
72,73,10,2016-06-09 10:00:00,2016-06-09 14:30:00,2,1.0,2016-06-09,1.0,Cancelled by User,17/05/2016 15:52:22,...,127.0,False,08:00:00,17:00:00,True,WF1 2TE,Vylyn Qbpo Pobxmg & Hoxxhoapf Nopmyo,Hnfpuyplq,6,19
86,74,10,2016-06-10 10:00:00,2016-06-10 12:30:00,2,1.0,2016-06-10,1.0,Cancelled by User,17/05/2016 15:52:22,...,127.0,False,08:00:00,17:00:00,True,WF1 2TE,Vylyn Qbpo Pobxmg & Hoxxhoapf Nopmyo,Hnfpuyplq,6,19
100,75,10,2016-06-11 10:00:00,2016-06-11 12:30:00,2,1.0,2016-06-11,1.0,Cancelled by User,17/05/2016 15:52:22,...,127.0,False,08:00:00,17:00:00,True,WF1 2TE,Vylyn Qbpo Pobxmg & Hoxxhoapf Nopmyo,Hnfpuyplq,6,19
114,76,10,2016-06-12 10:00:00,2016-06-12 14:30:00,2,1.0,2016-06-12,1.0,Cancelled by User,17/05/2016 15:52:22,...,127.0,False,08:00:00,17:00:00,True,WF1 2TE,Vylyn Qbpo Pobxmg & Hoxxhoapf Nopmyo,Hnfpuyplq,6,19
128,77,10,2016-06-13 10:00:00,2016-06-13 12:30:00,2,1.0,2016-06-13,1.0,Cancelled by User,17/05/2016 15:52:22,...,127.0,False,08:00:00,17:00:00,True,WF1 2TE,Vylyn Qbpo Pobxmg & Hoxxhoapf Nopmyo,Hnfpuyplq,6,19
142,78,10,2016-06-14 10:00:00,2016-06-14 15:30:00,2,1.0,2016-06-14,1.0,Cancelled by User,17/05/2016 15:52:22,...,127.0,False,08:00:00,17:00:00,True,WF1 2TE,Vylyn Qbpo Pobxmg & Hoxxhoapf Nopmyo,Hnfpuyplq,6,19
156,79,10,2016-06-15 10:00:00,2016-06-15 12:30:00,2,1.0,2016-06-15,1.0,Cancelled by User,17/05/2016 15:52:22,...,127.0,False,08:00:00,17:00:00,True,WF1 2TE,Vylyn Qbpo Pobxmg & Hoxxhoapf Nopmyo,Hnfpuyplq,6,19
170,80,10,2016-06-16 10:00:00,2016-06-16 16:30:00,2,1.0,2016-06-16,1.0,Cancelled by User,17/05/2016 15:52:22,...,127.0,False,08:00:00,17:00:00,True,WF1 2TE,Vylyn Qbpo Pobxmg & Hoxxhoapf Nopmyo,Hnfpuyplq,6,19
184,81,10,2016-06-17 10:00:00,2016-06-17 12:30:00,2,1.0,2016-06-17,1.0,Cancelled by User,17/05/2016 15:52:22,...,127.0,False,08:00:00,17:00:00,True,WF1 2TE,Vylyn Qbpo Pobxmg & Hoxxhoapf Nopmyo,Hnfpuyplq,6,19
198,82,10,2016-06-18 10:00:00,2016-06-18 12:30:00,2,1.0,2016-06-18,1.0,Cancelled by User,17/05/2016 15:52:22,...,127.0,False,08:00:00,17:00:00,True,WF1 2TE,Vylyn Qbpo Pobxmg & Hoxxhoapf Nopmyo,Hnfpuyplq,6,19
212,83,11,2016-06-06 10:00:00,2016-06-06 10:30:00,2,1.0,2016-06-06,1.0,Cancelled by User,17/05/2016 15:52:22,...,36.0,False,08:00:00,17:00:00,True,WF8 1QS,Ybfgaxx Pjlio Pobxmg & Hoxxhoapf Nopmyo,Hnfpuyplq,6,21
226,84,11,2016-06-07 11:00:00,2016-06-07 12:30:00,2,1.0,2016-06-07,1.0,Cancelled by User,17/05/2016 15:52:22,...,36.0,False,08:00:00,17:00:00,True,WF8 1QS,Ybfgaxx Pjlio Pobxmg & Hoxxhoapf Nopmyo,Hnfpuyplq,6,21